*,::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inbox{
    background-color:  hsl(42, 15%, 87%);
    max-width: 400px;
    margin: 0 auto;
}
.item{
    display: flex;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em .75em;
    border-bottom: .75px solid hsl(120, 1%, 65%);

}
.item:last-child{
    border: none;
}
input{
    align-items: center;
}
p{
    max-width: 400px;
    
}
input:checked + p{  
  text-decoration: line-through;
}